.bicicleta-apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 60px;
  gap: 40px;
}

.bicicleta-apresentacao-imagens-principal {
  margin-bottom: 20px;
}

.bicicleta-apresentacao-imagens-principal img {
  object-fit: cover;
  width: 100%;
}

.bicicleta-apresentacao-imagens-secundarias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.bicicleta-apresentacao-conteudo > p {
  margin-bottom: 32px;
}

.bicicleta-apresentacao-conteudo-comprar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.bicicleta-apresentacao-conteudo-comprar-informacoes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bicicleta-apresentacao-conteudo-comprar-informacoes-conteudo {
  display: flex;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 5px;
}

.bicicleta-apresentacao-conteudo-comprar-informacoes-conteudo img {
  width: 16px;
  height: 16px;
}

.bicicleta-apresentacao-conteudo-comprar a {
  height: 100%;
}

.bicicleta-apresentacao-conteudo-informacoes > h3 {
  margin-bottom: 12px;
}

.bicicleta-apresentacao-conteudo-informacoes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 32px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.bicicleta-apresentacao-conteudo-informacoes-bloco img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.bicicleta-apresentacao-conteudo-informacoes-bloco h4 {
  margin-bottom: 8px;
}

.bicicleta-apresentacao-conteudo-ficha > h3 {
  margin-bottom: 12px;
}

.bicicleta-apresentacao-conteudo-ficha ul {
  border-radius: 5px;
  padding: 32px;
}

.bicicleta-apresentacao-conteudo-ficha li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  position: relative;
}

.bicicleta-apresentacao-conteudo-ficha li:last-child {
  margin-bottom: 0px;
}

.bicicleta-apresentacao-conteudo-ficha li:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--c11);
  position: absolute;
  bottom: -6px;
}
