.main {
  box-shadow: inset 0px -120px var(--c0);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.main-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.main-conteudo h1 {
  margin-bottom: 32px;
}

.main-conteudo p {
  margin-bottom: 20px;
}
