.main {
  box-shadow: inset 0px -120px var(--c13);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-container img {
  object-fit: cover;
}

.main-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.main-conteudo h1 {
  margin-bottom: 32px;
}

.main-conteudo p {
  margin-bottom: 20px;
}
